.row
  .col-sm-3
    %h1
      .fa.fa-magic
      Simple
      %small Your application is ready to show in 5 minutes.
  .col-sm-3
    %h1
      %span.fa.fa-dashboard
      Fast
      %small We are using heroku, cloudinary and CDN to deliver your content quickly.
  .col-sm-3
    %h1
      %span.fa.fa-picture-o
      Visual
      %small We maximize your image.
  .col-sm-3
    %h1
      %span.fa.fa-globe
      Connected
      %small
        Your content is ready to be shared on social networks.
        .fa.fa-facebook
        .fa.fa-twitter
        .fa.fa-google-plus
.row
  .col-sm-3
    %h1
      .fa.fa-mobile
      .fa.fa-desktop
      .fa.fa-tablet
      Multi devices
      %small you have one single responsive website.
  .col-sm-3
    %h1
      .fa.fa-github
      Open Source
      %small The solution will be released open source soon.
  .col-sm-3
    %h1
      %span.fa.fa-unlock
      No contract
      %small No setup fee, No long term contract
  .col-sm-3
    %h1
      %span.fa.fa-bar-chart-o
      Statistics
      %small you can use google analytics or any other service through segment.io
.row
  .col-sm-3
    %h1
      %span.fa.fa-home
      Your name
      %small You get your own domain. Not a SoSlide.com domain.
  .col-sm-3
    %h1
      %span.fa.fa-sitemap
      Web Indexed
      %small Your site is automatically submited to search engine.
  .col-sm-3
    %h1
      %span.fa.fa-heart
      Made with love
      %small We are testing our software hard to deliver the best experience.
  .col-sm-3
    %h1
      %span.fa.fa-archive
      Storage
      %small You get 500Mo and 1Gb of bandwith for your site.
.row
  .col-sm-3
    %h1
      %span.fa.fa-smile-o
      More to come...
      %small We hope to release more features soon.
