.row
  .col-md-8.col-md-offset-2.col-xs-12
    :markdown
      # Legal information
      ### SoSlide
      Phone +33.610.232.999

      Publisher Luc Boissaye

      ### Headquarter and postal adress:

      155 Avenue Ledru Rollin

      75011 Paris

      ### Jurisdiction

      SoSlide is subject to all applicable french laws and regulations.

      ### Hosting provider

      Heroku, Inc. 321 11th Street  San Francisco, CA

      <http://www.heroku.com/contact>
