.row
  .col-md-10.col-md-offset-1
    %h1 Essayez SoSlide gratuitement
    %h3 Commencez immédiatement. sans carte de crédit, sans tracas.
.row
  .col-md-2.col-md-offset-3
    %h1 Gratuit
    %h4 0€
    %p 250 images
    %p soslide.com domain
    %p Votre site sera désactivé après 12h.
  .col-md-2
    %h1 Pro
    %h4
      $20
      %small /mois
    %p 250 photos
    %p Un nom de domaine personnalisable.
  .col-md-2
    %h1 Custon plan
    %h4 on demand
    %p unlimited images
    %p unlimited sites
  .col-md-6.col-md-offset-5
    =link_to 'Start a free trial', root_path, class: 'btn btn-success'
