.row
  .col-md-10.col-md-offset-1
    %h1 Try SoSlide for free
    %h3 Get started right away. No credit card, no hassle.
.row
  .col-md-2.col-md-offset-3
    %h1 Free
    %h4 $0
    %p 250 images
    %p soslide.com domain
    %p Your site will be disabled after 12 hours.
  .col-md-2
    %h1 Pro
    %h4
      $20
      %small /month
    %p 250 images
    %p 1 custom domain
  .col-md-2
    %h1 Custon plan
    %h4 on demand
    %p unlimited images
    %p unlimited sites
  .col-md-6.col-md-offset-5
    =link_to 'Start a free trial', root_path, class: 'btn btn-success'
