.row
  .col-md-8.col-md-offset-2.col-xs-12
    :markdown
      # Privacy Policy
      ### Data collection, storage and processing of personal data

      SoSlide collects, stores, processes and transmits user data in order to fulfill the SoSlide Service, to guarantee that SoSlide complies with applicable laws, and to protect the legitimate business interests of SoSlide. The collection of personal information submitted by users is a mandatory requirement in the use of the SoSlide Service.

      SoSlide does not store payment card numbers.

      Collected personal data is stored on servers located in Europe. Extensive security safeguards are in place to protect the data against unauthorized access and abuse. The software used on the servers is frequently updated to stay abreast of the latest computer security developments.

      ### Access to personal information and sharing with 3rd parties

      Access to personal information that can be linked to a specific individual is limited to a handful of authorized SoSlide staff (including potential authorised external contractors). SoSlide will not transmit personal information to third parties other than SoSlide Subscribers unless explicitely permitted by the individual, due to legal obligations, or when it is an obvious requirement in fulfilling the SoSlide Service (e.g. personal information of an individual using a SoSlide Subscriber website operated under the SoSlide Service, technical support provided by an authorised contractor, …).

      The use of personal data (e.g. email address) for marketing and promotion purposes is subject to prior agreement (opt-in) with the user.

      SoSlide might provide selected partners with information about its Subscribers and Users, only when the Subscriber/User has consented to it through the service interface and has been informed of the type of data shared.

      ### Usage of SoSlide Subscribers’ websites

      SoSlide collects personal data on behalf of its clients (Subscribers) operating websites under the SoSlide Service, and makes this data available to the Subscribers operating said websites. Data within this scope include for example User’s approximative location.

      ### Cookies
      Note: on this page, the term “cookie” refers to any technical means to store data on a visitor’s computer for later retrieval.

      #### Cookies used on www.soslide.com

      - _utm cookies series: these cookies are part of the Google Analytics service that we use to analyse the traffic on www.soslide.com for statistical purposes.
      www.soslide.com is fully useable without cookies.

      #### Cookies used on members (“SoSlide-powered”) websites

      This section is indicative and provided for convenience only. Please refer to the actual website owner for definitive details.

      Cookies used on websites powered by the PhotoDeck platform include:

      For registered and logged-in users, other cookies used for performance: some information is stored in cookies instead of the database to provide for better performance when using the website

      Any other cookie that might be placed directly or indirectly by the member, for example through the integration of external services (Google Analytics or other statistics service, etc…)

      SoSlide-powered websites can be used without cookies, but with a limited feature set.

      ### Statistics and logs

      SoSlide uses Google Analytics, a service provided by Google (1600 Amphitheatre Parkway Mountain View, CA 94043, USA) to gather statistical information about SoSlide users and visitors. In addition, SoSlide collects logs of actions performed on the SoSlide website and on the SoSlide Service, for technical and security purposes. SoSlide access logs include data on the user’s browser and its operating system, as well as IP address.

      Similarly, SoSlide provides to SoSlide Subscribers the opportunity to use Google Analytics and access logs for the website they operate under the SoSlide Service. Logs provided by SoSlide to its Subscribers do not include IP addresses.

      Logs are cleared on a regular basis.

      ### User rights to access to personal information

      Visitors and users of SoSlide website and Service can request access to any information held about them and its origin; any recipients of their data and the reason for the storage of such data. This information will be provided free of charge.
