.row
  .col-md-4.col-md-offset-4
    - if @sites.count > 0
      - @sites.each do |site|
        %ul
          %li
            = link_to site.admin_url, site.admin_url, class: 'btn btn-success'
    - else
      = t '.no_sites'
